.deps/
*.o
.dirstamp
/build/
/blown_queue_config.h
/blown_queue_tests
/blown_queue-*.tar.*

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/config/
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/.cproject
